body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.2em;
}

.header {
  background-color: #c9c9c9;
  height: 13%;
  padding: 0.5em;
}

.footer {
  background-color: #c9c9c9;
  height: 13%;
  padding: 0.5em;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin: 1.5% 0 1.5%;
  height: 80%;
}

.red-orange-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.red-box {
  height: 50%;
  background-color: red;
  padding: 0.5em;
} 

.orange-box {
  height: 50%;
  background-color: orange;
  padding: 0.5em;
} 

.yellow-box {
  background-color: yellow;
  width: 30%;
  padding: 0.5em;
}

@media screen and (min-width: 820px) {
  .yellow-box {
    width: 70%;
  }
}