body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  font-size: 1.2em;
}

.header {
  background-color: #c9c9c9;
  height: 13%;
  padding: 0.5em;
}

.footer {
  background-color: #c9c9c9;
  height: 13%;
  padding: 0.5em;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin: 1.5% 0 1.5%;
  height: 80%;
}

.red-orange-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.red-box {
  height: 50%;
  background-color: red;
  padding: 0.5em;
} 

.orange-box {
  height: 50%;
  background-color: orange;
  padding: 0.5em;
} 

.yellow-box {
  background-color: yellow;
  width: 30%;
  padding: 0.5em;
}

@media screen and (min-width: 820px) {
  .yellow-box {
    width: 70%;
  }
}

@media screen and (max-width: 430px) {

  body {
    overflow-y: hidden;
  }

  .middle-section {
    flex-direction: column;
    margin: 4% 0 4%;
    height: 100%;
  }

  .red-orange-container {
    width: 100%;
    height: 100%;
  }
  
  .red-box {
    width: 100%;
    height: 50%;
  }

  .orange-box {
    width: 100%;
    height: 50%;
  }

  .yellow-box {
    width: 100%;
    height: 40%;
  }

  .header {
    width: 100%;
  }
 
  .footer {
    width: 100%;
    margin-bottom: -1.8em;
  }
}