body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.header {
  background-color: #c9c9c9;
  height: 13%;
}

.footer {
  background-color: #c9c9c9;
  height: 13%;
}

.middle-section {
  display: flex;
  flex-direction: row;
  margin: 1.5% 0 1.5%;
  height: 80%;
}

.red-orange-container {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.red-box {
  height: 50%;
  background-color: red;
} 

.orange-box {
  height: 50%;
  background-color: orange;
} 

.yellow-box {
  background-color: yellow;
  width: 30%;
}